/* color
  #222222; 
  #cccccc;
*/
body {
 background-color: #eeeeee; 
 color: #222222; ;
 font-family: 'Roboto', sans-serif;
 width: 66%;
 font-size: large;
 margin: 0 auto;
 min-width:24rem;
 
}

a {
  background-color: #eeeeee; 
  color: #222222; ;
  font-family: 'Roboto', sans-serif;
  width: 66%;
  margin: 0 auto;
}

div{
  border-style: solid;
  border-color: #eeeeee;
  margin: 1.2rem 1rem 1.2rem 1rem;
}

li{
  margin: 0.3rem auto; 
}

.content{
  background-color: #eeeeee; 
  margin-bottom: 2.5rem;
  padding-left:1rem;
  padding-right:1rem;
}

.subcontent{
  background-color: #eeeeee; 
  margin-bottom: 2.5rem;
  padding-left:2rem;
  padding-right:1rem;
}

.link{
  color: #222222; ;
  font-family: 'Roboto', sans-serif;
  font-size:16; 
  text-decoration: none;
  text-transform: uppercase;
}

.title{
  padding: .5rem;
  color: #222222; ;
  text-decoration: none;
  text-transform: lowercase;
}

.subtitle{
  border-style: solid;
  border-width: 0;
  border-left-width: 0.2em;
  border-image: linear-gradient(#40e0d0, #ff8c00, #ff0080) 1;
  padding-left:0.2em;
}

.header-links {
  display:inline;
  padding-right: 1.5rem;
  margin: 0 auto;
  color: black;
  text-transform:uppercase;
  text-decoration: none;
  font-size: 1.5rem;
}

.justify{
 text-align: justify;
 text-justify: inter-word;
}

.center {
  text-align: center;
}

.links {
  display:block;
  min-width:30%;
}


.project-box {
  display: block;
  padding: 0.5em;
  margin: 1rem auto;
  padding-bottom:3rem;
  max-width:100%;
  width: 44rem;
}

.project-title{
 text-transform: uppercase;
 border-bottom-style: solid;
 border-width: 0.2rem;
 border-image: linear-gradient(90deg,#40e0d0, #ff8c00, #ff0080) 1;
}

.project-info{
  margin: 0 auto;
}

.project-demo{
  max-width:300;
  min-width:30;
  min-height:10;
  max-height: 170;
  display: flex;
  margin: 0 auto;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
  
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0;     
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.footer {
  position: relative;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-top: 4rem;
  padding: 1rem 0;
  background: #222;
  color: #fff;
  text-align: center;
}

