@media screen and (min-width: 701px) and (max-width: 1406px) {
	header{
		display:block;
	}
	.header-links {
		display:inline;
		padding-right: 1.4rem;
		margin: 0;
		color: black;
		text-transform:uppercase;
		text-decoration: none;
		font-weight: bolder;
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 0px) and (max-width: 700px) { 

	body {
		background-color: #eeeeee; 
		color: #222222; ;
		font-family: 'Roboto', sans-serif;
		width: 66%;
		font-size: medium;
		margin: 0 auto;
		min-width:20rem;
	 }

	.content{
		background-color: #eeeeee; 
		margin-bottom: 2.5rem;
	}
	
	h4{
		text-align: center;
	}

	.about{
		text-justify:unset;
		text-align:center;
	}


	div{
		border-style: solid;
		border-color: #eeeeee;
	}
		
	.subcontent{
		background-color: #eeeeee; 
		margin-bottom: 2.5rem;
	}
	
	.project-box {
		padding:0;
		display: block;
		margin: 0 auto;
		padding-bottom:3rem;
		max-width:100%;
		width: 44rem;
	}
	
	li{
		margin: 0 auto; 
	}

	header{
		display:block;
	}

	.header-links {
		display:block;
		padding-right: 1.4rem;
		margin: 0;
		color: black;
		text-transform:uppercase;
		text-decoration: none;
		font-weight: bolder;
		font-size: 1.2rem;
	}

	.optional{
		display: none;
	}
	
} 

